.changePassword-data {
  width: 68%;
}

.changePassword-data .sec-heading h1 {
  font-size: 1.2rem;
  display: flex;
  justify-content: flex-start;
  margin: 1rem 0 0.5rem 0;
}

.changePassword-data .changePassword-row {
  padding: 10px;
  background: #f7f7f9;
  border-radius: 12px;
  height: 78vh;
  padding: 1rem;
}

.changePassword-data .changePassword-row form {
  background-color: #fff;
  height: 73vh;
  padding: 2rem 0 0 2rem;
}

.changePassword-data .changePassword-row form label {
  font-size: 0.8rem;
}

.changePassword-data .changePassword-row form input {
  border: 1px solid rgba(10, 25, 49, 0.2);
  width: 50%;
  height: 8%;
  border-radius: 8px;
  padding: 0 5px;
}

.changePassword-data .changePassword-row form input:focus {
  outline: none;
}

.changePassword-data .changePassword-row form a {
  display: inline-block;
  text-align: center;
  color: #000;
  background-color: #d9d9d9;
  padding: 0.6rem 10rem;
  border-radius: 8px;
  margin-top: 10px;
}
